mixin access(modifier)
  section.access&attributes(attributes)
    .access__area 
      h2.access__title доступная цена на кофе свежей обжарки
      p.access__text Кофе собирается на плантациях и проходит через множество этапов прежде чем попасть в вашу кофемашину. 
      p.access__text Наш конроль качества зерна начинается с момента сбора урожая и заканчивается приготовлением первой чашки кофе для каждой партии. 