mixin roster(modifier)
  section.roster&attributes(attributes)
    .roster__area
      ul.roster__list
        li.roster__text Закупаем и привозим свежие зерна кофе со&nbsp;всего мира
        li.roster__text Обжариваем на&nbsp;технологичных ростерах Typhoon
        li.roster__text Затем осуществляется контроль качества и&nbsp;каппинг каждой партии
        li.roster__text Далее отправляем свежеобжаренный кофе на фасовку и упаковку
        li.roster__text После чего готовый продукт передается в&nbsp;отдел доставки
        li.roster__text Вы получаете поставку свежего кофе во время и&nbsp;без задержек
