mixin price(modifier)
  section.price&attributes(attributes)
    .price__area 
      .price__card
        .price__kilo 
          h2.price__title от 10 кг.
          p.price__text Минимальная партия оптового заказа 
        .price__rub
          h2.price__title от 480 ₽
          p.price__text Стоимость за 1 кг. кофе свежей обжарки