mixin salute(modifier)
  section.salute&attributes(attributes)
    .salute__area 
      .salute__info 
        h1.salute__title Закупайте кофе оптом с&nbsp;доставкой по всей России
        p.salute__subtitles
          span.salute__subtitle Сначала пробуйте
          | -
          span.salute__subtitle потом закупайте
        p.salute__text Отправим бесплатный пробник кофе — на выбор более 30 сортов свежей обжарки для фильтра и эспрессо.
      img(src='img/salute.jpg' alt='Главное видео').salute__picture