mixin icon(modifier)
  section.icon&attributes(attributes)
    .icon__area
      ul.icon__list
        li.icon__item
          img(src='img/icon_beans.png' alt='Зёрна кофе').icon__picture
          p.icon__text Закупаем кофе с плантаций без&nbsp;посредников 
        li.icon__item
          img(src='img/icon_fire.png' alt='Обжарка кофе').icon__picture
          p.icon__text Обжариваем зерна на&nbsp;собственном производстве
        li.icon__item
          img(src='img/icon_box.png' alt='Упаковка кофе').icon__picture
          p.icon__text Предлагаем доступные цены за&nbsp;преимум качество
