mixin review(modifier)
  section.review&attributes(attributes)
    .review__area
      h2.review__title Что о нас говорят наши&nbsp;клиенты
      .review__gallery
        img(src='img/review_arrow.png', alt='Стрелочка влево').review__left
        
        .review__content
          .review__card
            .review__image
              img(src='img/review_karina.png', alt='Фото').review__photo
              img(src='img/review_huvitz.png', alt='Huvitz').review__company
            .review__description
              h3.review__name Карина
              p.review__job Генеральный директор OOO “Huvitz”
              p.review__text Очень удобно, что в наше время стала жизнь проще и есть такие вот компании, как ПКМ. Мы давно мечтали купить на работу кофемашину и пить вкусный кофе, но цены на хорошую очень высоки, а вот взять кофемашину в аренду бесплатно при покупке качественного кофе вполне доступно. Узнала об этой компании от друзей. Они уже около года работают с ними и мы очень довольны обслуживанием. Машины все в идеальном состоянии, работают прекрасно, без нареканий. Машины чистят и проверяют регулярно. Так что у нас голова ни о чем не болит! 
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_coffee.png', alt='Coffee Like').review__company
            .review__description
              h3.review__name Сеть кофеен Coffee Like
              p.review__job Крупнейшая сеть  “кофе с собой” в России
              p.review__text Берем в аренду профессиональное кофейное оборудование у “ПКМ” уже долгое время. Довольны как качеством оборудования, так и сервисом компании. Всегда оперативно решают проблемы с ремонтом и обслуживанием, хотя ремонт практически никогда и не требуется, потому, что машины очень надежные. Тот самый случай, когда компания решает проблемы клиента и не создает дополнительных, за что, большое вам спасибо! 
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_bakery.png', alt='Британские пекарни').review__company
            .review__description
              h3.review__name «Британские пекарни»
              p.review__job Известные пекарни в Санкт-Петербурге
              p.review__text Заказываем на регулярной основе как простой кофе, так и кофе в чалдах без кофеина, горячий шоколад и много другой вкусной продукции у “ПКМ”. Всем довольны, все вкусно. Классные кофемашинки, выдерживают большой поток без перебоев.Приятно с вами работать, желаем большого роста и процветания! 
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_varlet.png', alt='Студия красоты Varlet Studio').review__company
            .review__description
              h3.review__name Cтудия красоты Varlet Studio
              p.review__job Студия красоты с большим потоком клиентов
              p.review__text Пользуемся вашими кофемашинами в салонах нашей студии, очень удобный и оперативный сервис , а наши гости довольны кофейными комплиментами во время маникюра и педикюра.  
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_gatchina.png', alt='Комитет по физической культуре и спорту Гатчинского муниципального района.').review__company
            .review__description
              h3.review__name Комитет по физической культуре и спорту Гатчинского муниципального района.
              //p.review__job Генеральный директор OOO “Huvitz”
              p.review__text Сотрудничаем с ПКМ при проведении мероприятий в Гатчинском муниципальном районе. Подарочные изделия от ПКМ, а так же организация кофепойнтов на соревнованиях и праздниках выше всяких похвал. Комитет рекомендует выбирать в качестве партнеров компанию ПКМ. 
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_intra.png', alt='Сервисная Компания Интра').review__company
            .review__description
              h3.review__name ООО «Сервисная Компания Интра»
              p.review__job Ведущая российская компания, выполняющая весь комплекс услуг<br>в области безостановочных ремонтов трубопровода.
              p.review__text Пользуемся услугами компании ПКМ уже на протяжении более двух лет. Радует организованность и пунктуальность доставок; в случае неисправности кофемашин оперативно предоставляется либо новая техника, либо производится ремонт на месте согласно договору в течение 48 часов без задержек. В нашем офисе работает 5 кофемашин от ПКМ, поэтому так важно, что оборудование полностью обслуживалось предоставляющей компанией от и до. Кофе всегда привозят свежей обжарки, никогда не встречаются пачки полугодовой давности. Спасибо ПКМ за бодрость нашей компании. 
          .review__card
            .review__image
              //img(src='img/review_photo.jpeg', alt='Фото').review__photo
              img(src='img/review_star.png', alt='Звезда Невы').review__company
            .review__description
              h3.review__name Звезда Невы
              //p.review__job Генеральный директор OOO “Huvitz”
              p.review__text В первую очередь, хотим сказать, что это вкуснейший и качественный кофе! Всегда очень приятный аромат и яркий вкус, прям как в рекламе. Также, хотим выразить благодарность ребятам за отличный сервис, быстрое обслуживание и удобные кофемашины. Это не идеальное соотношения цены и качества, потому, что уровень качества намного выше цены! Всем рекомендуем.
        .review__arrow
          img(src='img/review_arrowmini.png', alt='Стрелочка влево').review__leftmini
          img(src='img/review_arrowmini.png', alt='Стрелочка вправо').review__rightmini 
        img(src='img/review_arrow.png', alt='Стрелочка влево').review__right

