mixin footer(modifier)
  section.footer&attributes(attributes)
    .footer__area
      .footer__privacy
        img(src='img/logo.svg' alt='Логотип').footer__logo
        p.footer__text Использование любых материалов с этого сайта возможно только после письменного согласия владельца авторских прав
      .footer__menu
        h3.footer__title Мы предлагаем
          .footer__block
            ul.footer__list
              li.footer__item: a.footer__link(href='#') Кофе оптом
              li.footer__item: a.footer__link(href='#') White Label
              li.footer__item: a.footer__link(href='#') Бесплатная кофемашина
        h3.footer__title Помощь
          .footer__block
            ul.footer__list
              li.footer__item: a.footer__link(href='#') Частые вопросы
              li.footer__item: a.footer__link(href='#') Реквизиты
              li.footer__item: a.footer__link(href='#') О компании ПКМ
      +contact('footer')
    .footer__policy 
      a.footer__under(href='#') © 2013-2021 “ПКМ”
      a.footer__under(href='#')  Политика конфиденциальности


