mixin act(modifier)
  section.act&attributes(attributes)
    .act__area
      .act__description  
        h2.act__title Обжариваем и доставляем свежий кофе с&nbsp;2013&nbsp;года
        p.act__text За много лет приобрели опыт, стали экспертами производства обжарки кофе и&nbsp;при этом остались людьми, всё это помогает нам производить совершенный кофе для всех наших клиентов.
        p.act__text Мы проводим контрольные капинги и&nbsp;заключаем контракты на&nbsp;поставки отборного зерна каждый новый урожай.
        p.act__text Имеем собственное технологичное производство в Санкт-Петербурге, производственная мощность которого 5&nbsp;000&nbsp;кг. в сутки.
      img(src='img/act.png' alt='Упаковка кофе').act__picture