extends ../templates/template.pug
block content
    +header
    +salute
    +form('pack','Получите пробник кофе - совершенно бесплатно!')
    +icon 
    +act
    +roster
    +black
    +delivery
    +respect
    +choice 
    +form('coffee','Получите оптовый прайс на весь ассортимент.')
    +review
    +expert
    +miniform
    +access
    +price
    +form('cap','который пьем сами!')
    //- +form('kotik', 'Котик ждёт!')
    +footer 
    +popup
    //- +contact

    
    
