.miniform {
    background: #F5F8F9;

    &__area {
        width: 100%;
        max-width: 1080px;
        max-height: 172px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 50px 0;
        max-width: 330px;
        font-family: 'Oswald';
        font-weight: 500;
        font-size: px-to-em(24);
        line-height: lh-to-per(36, 24);
        text-transform: uppercase;
        color: #1A1C1D;
    }

    &__send {
        display: flex;
    }

    &__email {
        margin-right: 20px;
        padding: 20px; 
        width: 446px;
        height: 62px;
        font-size: px-to-em(17);
        line-height: 140%;
        border: 1px solid #EAEAEA;    
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 62px;
        background: #009688;
        border-radius: 100px;

        font-weight: 600;
        font-size: px-to-em(18);
        line-height: lh-to-per(22, 18);
        color: #FFFFFF;
    }

    @media screen and (max-width: 1100px) {
        &__area {
            padding: 0 16px;
        }
    }

    @media screen and (max-width: 970px) {
        &__area {
            margin: 60px auto 150px;
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-bottom: 20px;
            text-align: center;
        }

        &__send {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__email { 
            margin: 0 16px 20px;
            max-width: 300px;
        }
        
    }

}
