.black {
    background: #1A1C1D;

    &__area {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;

        @include flex-dir(row, space-between, flex-start);
    }

    &__description {
        width: 100%;
        max-width: 540px;
        margin: 100px 0 90px;
        color: #FFFFFF;
    }

    &__title {
        margin-bottom: 40px;
        font-family: 'Oswald';
        font-weight: 500;
        font-size: px-to-em(40);
        line-height: lh-to-per(59, 40);
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 24px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: px-to-em(17);
        line-height: 140%;
    }

    &__picture {
        transform: translateY(10%);
    }

    @media screen and (max-width: 991px) {
       
        &__area {
            padding: 0 16px;
            flex-direction: column;
            align-items: center;
        }

        &__description {
            margin: 80px 0 54px;
        }

        &__title {
            font-size: px-to-em(32);
            line-height: lh-to-per(47, 32);
        }

        &__text {
            font-size: px-to-em(16);
        }

        &__picture {
            width: 100%;
            max-width: 460px;
        }
        
    }







}
