mixin black(modifier)
  section.black&attributes(attributes)
    .black__area
      .black__description
        h2.black__title Работаем быстро<br>— ценим ваше время
        p.black__text Моментально обрабатываем заявки поступающие с сайта, высылаем оптовый прайс и помогаем определиться с&nbsp;сортом&nbsp;кофе.
        p.black__text Запускаем вашу партию в производство в течении суток&nbsp;после заказа.
        p.black__text По готовности сразу передаем в отдел доставки и&nbsp;присылаем&nbsp;вам трек-номер для отслеживания.
      img(src='img/black_photo.jpg' alt='Фото').black__picture
