.choice {
    background: #F5F8F9;

    &__area {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        border-bottom: 1px solid #EAEAEA;
    }

    &__title {
        max-width: 706px;
        margin: 100px 0 40px;
        font-family: 'Oswald';
        font-weight: 500;
        font-size: px-to-em(40);
        line-height: lh-to-per(59,40);
        text-transform: uppercase;
        color: #1A1C1D;
    }
  
    &__text {
        max-width: 452px;
        margin-bottom: 68px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: px-to-em(17);
        line-height: 140%;
        color: #332F2F;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 54px;
        max-width: 314px;
        min-height: 512px;
        display: flex;
        flex-direction: column;
    }

    &__photo {
        margin-bottom: 28px;
    }

    &__name {
        margin-bottom: 10px;
        font-family: 'Lato';
        font-weight: 400; // Лато 600 нет
        font-size: px-to-em(24);
        line-height: 120%;
        color: #1A1C1D;
    }

    &__description {
        font-family: 'Lato';
        font-weight: 400;
        font-size: px-to-em(17);
        line-height: 140%;
        color: #32363C;
    }

    &__price {
        margin-top: auto;
        font-family: 'Oswald';
        font-weight: 500;
        font-size: px-to-em(20);
        line-height: lh-to-per(30, 20);
        text-transform: uppercase;
        color: #1A1C1D;
    }

    @media screen and (max-width: 991px) {

        &__area {
            flex-direction: column;
            padding: 0 16px;
        }

        &__title {
            margin-top: 80px;
            font-size: px-to-em(32);
            line-height: lh-to-per(47,32);
        }

        &__text {
            margin-bottom: 50px;
            font-size: px-to-em(16);
        }

        &__name {
            margin-bottom: 16px;
            font-size: px-to-em(22);
        }

        &__description {
            font-size: px-to-em(16);
        }

        &__price {
            margin-top: auto;
        }

        &__photo {
            margin-bottom: 40px;
            width: 100%;
            max-width: 258px;
        }

        &__card {
            margin: 0 30px 80px 0;
            padding: 0 16px;
            max-width: 280px;
            min-height: 450px;
        }

    }

    @media screen and (min-width:300px) and (max-width: 860px) {

        &__area {
            display: flex;
            align-items: center;
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__card {
            margin-bottom: 60px;
        }

        &__price {
            margin-top: 30px;
        }

    }

}
