mixin choice(modifier)
  section.choice&attributes(attributes)
    .choice__area
      h2.choice__title На выбор более 30 сортов кофе
      p.choice__text Предлагаем ТОП ассортимент: смеси, моносорта и микролоты из Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора
      ul.choice__list
        li.choice__card 
          img(src='img/choice_pack.png', alt='Пачка кофе').choice__photo
          h3.choice__name Бразилия Суль Де Минас
          p.choice__description С нотами арахиса, какао и цедры лимона. По мере остывания напитка добавляются ягодные оттенки.
          p.choice__price от 480 ₽ / кг.
        li.choice__card
          img(src='img/choice_pack.png', alt='Пачка кофе').choice__photo
          h3.choice__name Колумбия Эксельсо
          p.choice__description С нотами какао, цветов и меда. <br>Легкая кислинка фруктового вина.
          p.choice__price от 480 ₽ / кг.
        li.choice__card
          img(src='img/choice_pack.png', alt='Пачка кофе').choice__photo
          h3.choice__name Бон-а-бон
          p.choice__description С нотами арахиса, горького шоколада и легкой кислинкой фруктовых вин.
          p.choice__price от 480 ₽ / кг.
