mixin respect(modifier)
  section.respect&attributes(attributes)
    .respect__area
      h2.respect__caption За вкус и качество кофе отвечаем головой
      p.respect__disclaimer Вкус кофе остается не изменным на регулярной основе от&nbsp;партии к партии, благодаря функциональности новейшего и технологичного оборудования на произвосдтве ПКМ.
      .respect__line
        h3.respect__name Закупаем лучшее&nbsp;сырье
        p.respect__text Мы не экономим на сырье, закупаем натуральный кофе с плантаций в странах Эфиопии, Бразилии, Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора. 
      .respect__line
        h3.respect__name Осуществляем хранение по мировым стандартам
        p.respect__text Непосредственно перед обжаркой кофе хранится на складе зеленого кофе, который соответсвует мировым стандартам. Температура воздуха +15°С при относительной влажности 55-60 г/м³
      .respect__line
        h3.respect__name Используем лучшие ростеры для обжарки
        p.respect__text Мы обжариваем кофе на новейших ростерах “Typhoon” с запатентованной системой обжарки в кипящем слое. Никогда еще обжарка кофе не была такой равномерной, стабильной и чистой!
      .respect__line
        h3.respect__name Дополнительно очищаем
        p.respect__text С помощью дестонера, такого специального аппарата вычленяем из кофе всякие камни и другие инородные элементы, без этого этапа камень может безвозвратно убить кофемолку.
      .respect__line
        h3.respect__name Упаковываем только проверенный кофе
        p.respect__text Ваш кофе фасуется по пакетам из полимерного материала с плоским дном, оснащенных дегазационным клапаном, с замком типа «молния». Фасовка в пакеты по 1 кг и 250 гр.
      .respect__line
        p.respect__name Приглашаем на&nbsp;производство
        p.respect__text Приглашаем всех клиентов в гости к нам на производство в городе Санкт-Петербург. Мы регулярно проводим дегустацию новых и зарекомендованных сортов кофе свежей обжарки и у вас есть возможность попробовать и открыть для себя новый вкус кофе.
        
        
       
      
        
