mixin delivery(modifier)
  section.delivery&attributes(attributes)
    .delivery__area 
      .delivery__description 
        h2.delivery__title Оперативная и отлаженная доставка&nbsp;свежего кофе
        p.delivery__text Доставляем свежеобжаренный кофе с нашего производства в&nbsp;любую точку России в среднем за 5 дней после заказа. 
        p.delivery__text Логистика по всей России отлажена до мелочей. Мы поможем с выбором транспортной компании, которая доставляет в ваш город.
        p.delivery__text Для клиентов из Санкт-Петербурга доставляем кофе на автомобилях компании на следующий день после заказа.
        a.delivery__track(href='#')
          img(src='img/delivery_truck.png' alt='Ссылка').delivery__link
          p.delivery__know Узнать о доставке в мой город

      .delivery__picture
        img(src='img/delivery_cdek.png' alt='Логотип CDEK').delivery__img
        img(src='img/delivery_dl.png' alt='Логотип Деловые Линии').delivery__img
        img(src='img/delivery_pek.png' alt='Логотип ПЭК').delivery__img
        img(src='img/delivery_bs.png' alt='Логотип Байкал Сервис').delivery__img
        img(src='img/delivery_glav.png' alt='Логотип GLAV').delivery__img
        img(src='img/delivery_jda.png' alt='Логотип ЖелдорАльянс').delivery__img
